// Breakpoints
$large-tablet: 1100px;
$tablet: 800px;
$large-mobile: 620px;
$hor-mobile: 480px;
$ver-mobile: 320px;

// Colors
$primary-color: #185abd;
$sub-primary-color: #4597fd;
$secondary-color: #fb6900;
