body {
   background: linear-gradient(
      to right,
      #136a8a,
      #267871
   );
}

.p {
   --board-padding: 16px;

   display: flex;
   flex-direction: column;
   flex-shrink: 0;
}

.p--controls {
   padding: var(--board-padding);
}

.p--content {
   flex: 1;
   display: flex;
   overflow: auto;
}

.p--lists {
   @include a11y-list;
   display: flex;
   align-items: flex-start;
   flex: 1;
   padding: 0 var(--board-padding);
   margin-bottom: var(--board-padding);
}

.p--list {
   flex: 1;
   min-width: 250px;
   max-width: 400px;

   margin-left: var(--board-padding);

   &:first-child {
      margin-left: 0;
   }

   @include breakpoint($hor-mobile) {
      width: calc(100vw - var(--board-padding) * 3);
      max-width: initial;
   }
}

.p--drag-container {
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   transform: translate(var(--x, 0), var(--y, 0)) rotate(5deg);
   width: var(--w, 0);
   height: var(--h, 0);

   &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
   }

   .task {
      list-style: none;
      box-shadow: 1px 1px 5px rgba(9, 30, 66, 0.25);
      margin: 0;
   }
}
