.task {
   padding: 8px;
   border-radius: 2px;
   margin-bottom: 8px;

   font-size: 14px;
   background-color: #fff;
   cursor: pointer;

   transition: color .3s, background-color .3s;

   &:hover {
      background-color: #f4f5f7;
      border-bottom-color: rgba(9, 30, 66, 0.25);
   }
}

.task--text {
   margin: 0;
}
