.header {
   padding: 16px 28px;
}

.header--container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header--logo {
   display: flex;
   align-items: center;
}

.header--logo-img {
   margin-right: 4px;
}
