.header {
   padding: 8px 16px;

   background-color: #026aa7;
   color: rgba(#fff, .9);

   &__transparent {
      background-color: transparent;
   }
}

.header--container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header--logo {
   display: flex;
   align-items: center;
   font-weight: 700;

   .svg-icon {
      filter: drop-shadow(-2px -1px 0px rgba(#fff, .4));
   }
}

.header--logo-img {
   margin-right: 4px;
}
