// Some common styles for Accessibility

@mixin a11y-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

@mixin a11y-visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}